$primarycolor: #FFf;

$header1color: #000;
$paracolor: #000;


// font size
$header1font: 25px;
$parafont: 16px;


//gapping
$sectiongap:120px;



//font family variable
$opensans:'Open Sans', sans-serif;;
